body {
    background-color: #2c3e50;
    background-image: url('img/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

footer {
    background-color: #34495e;
    color: #f9f4e4;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#text {
    background-color: #34495e;
    color: #ecf0f1;
    padding: 10px;
}

#game {
    width: 80%;
    max-width: 500px; /* Ajuste o máximo conforme necessário */
    margin: 10% auto 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1.0);
}

#controls,
#stats,
#monsterStats {
    /* border: 1px solid #0f151b; */
    padding: 10px;
    margin-top: 10px;
}

#controls,
#stats {
    color: #f9f4e4;
    background-color: #34495e;
    /* border-radius: 10px; */
}

#monsterStats {
    background-color: #c0392b;
    color: #f9f4e4;
}

.stat {
    padding-right: 10px;
}

button {
    cursor: pointer;
    color: #2c3e50;
    background-color: #e67e22;
    border: 3px solid #e67e22;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d35400;
}

/* Consulta de Mídia para Telas Pequenas (Celulares) */
@media only screen and (max-width: 600px) {
    #game {
        width: 90%; /* Reduzir a largura para telas pequenas */
    }
}
